<!-- Outage message
<div style="width: 92%; color: #9f6000; padding: 10px 10px 10px 42px; border: 1px solid #9f6000; margin-top: 10px; background: #feefb3 url('http://collections.stanford.edu/msgbox-warning.png') 10px center no-repeat; ">
  There will be a planned maintenance outage affecting this site on Sunday, 17 June 2012, 4:30 am - 3:00 pm, Pacific Daylight Time. This site will be unavailable during this maintenance window. We apologize for any inconvenience this may cause.
</div>
-->

<h3>Note for training session participants</h3>

<ul>
  <li>If you do not have Stanford SUNet ID please <a href="https://sunetid.stanford.edu/main/SUNetIdApp/CreateApp?action=c_create_identity&token=5f5a98b9c29c3cfdc16c78aa40775c2e">request one now</a>.</li>
  <li>Please email your SUNet ID to <a href="mailto:blalbrit@stanford.edu">Benjamin Albritton</a> to request it be <em>sponsored</em>.</li>
  <li>Please log in once to e.g. <a href="https://weblogin.stanford.edu/login/?RT=TkAUT4E7ClOqMSTKEjQdaImtRvFtaIIWLVk+IR9L0UydWNUcl+2/mFMw8mpXEQmgBSvL1Ntdcz2yjo2QTynFrkYW+OozyGUIvvMeW5znk5zDCYrhD6mwd1yBNzpy2gOgAy4VjlSlUab/mLcN6+80+6QoaCX1XyzFitJaOQPKwLVqbdG6hYL1fmwMVVC38jNebSX6qB23D8VwE0KahbQbjFGQUQoJrrojohVZfAD3vZuotVUvDbFrYoeTx8tP9lVA6jXKyQ==;ST=Tj+F+PyHgy35vSKctNcTcnmRgFTOwF61NzZLneN2vSVUR2gWUwDNmlVR6yjJrkrqCVoLS/caBUaBGh6vNdwcZWwtMM+bepiXCe/w1/Mm+1NezHR+3fT9AxcBoQ/fT95DXihh2r3sKRAzN4qoVu23QXY0zm5Mk+aTfWDDesRNPEhipQsbIEs+chjRXZWQoK9LbwylFw==" target="_blank">Stanford's Webmail</a> to activate your authenticated session.<br/><strong>Note: </strong> you can close the webmail window immediately after authenticating.</li>
</ul>
<hr/>
<p>This prototype is being developed as part of the project '<em>Defining a Modular and Interoperating Environment for Collections of Digitized Medieval Manuscripts, Tools, and Users</em>' (DMSTech) funded by <a href="http://www.mellon.org/">The Andrew W. Mellon Foundation</a>.</p>

<p>Collaborators on this prototype:</p>
<ul>
  <li><a href="http://bob.drew.edu/mappaemundi">Digital Mappaemundi</a>, Drew University</li>
  <li><a href="http://www.lanl.gov" >Los Alamos National Laboratory</a></li>
  <li><a href="http://romandelarose.org/" >Roman de la Rose Digital Library</a></a>, Johns Hopkins University</li>
  <li><a href="http://digital-editor.blogspot.com/" >T-PEN</a>, Saint Louis University</li>
  <li><a href="http://www-sul.stanford.edu/" >Stanford University Libraries</a></li>
  <li><a href="http://www.textandbytes.com" >text & bytes, Switzerland</a></li>
  <li>Participating Members of the Digital Manuscript Technical Council</li>
</ul>

<p>Additional content provided by:</p>
<ul>
  <li><a href="http://parkerweb.stanford.edu/" >Parker on the Web</a></li>
  <li><a href="http://www.e-codices.unifr.ch/en" >e-codices</a></li>
  <li><a href="http://image.ox.ac.uk/" >Early Manuscripts at Oxford University</a></li>
  <li><a href="http://goodspeed.lib.uchicago.edu/" >The Goodspeed Manuscript Collection</a></li>
  <li><a href="http://laurentius.ub.lu.se/" >St. Laurentius Digital Manuscript Library</a></li>
  <li><a href="http://romandelarose.org/" >Roman de la Rose Digital Library</a></li>
  <li><a href="http://www.bnf.fr/fr/acc/x.accueil.html" >The Bibliothèque nationale de France</a></li>
</ul>
<br />
<center>  
  <%= image_tag "logos.png" %>
</center>