<!-- Outage message
<div style="width: 92%; color: #9f6000; padding: 10px 10px 10px 42px; border: 1px solid #9f6000; margin-top: 10px; background: #feefb3 url('http://collections.stanford.edu/msgbox-warning.png') 10px center no-repeat; ">
  There will be a planned maintenance outage affecting this site on Sunday, 17 June 2012, 4:30 am - 3:00 pm, Pacific Daylight Time. This site will be unavailable during this maintenance window. We apologize for any inconvenience this may cause.
</div>
-->

<h3>Overview</h3>
<ul>
	<li>Something about the digital manuscript interop effort and iiif.io here</li>
</ul>

<hr/>


<p>Content to this catalog provided by: [groom this list as we move to specific IIIF-compliant sets]</p>
<ul>
  <li><a href="http://parkerweb.stanford.edu/" >Parker on the Web</a></li>
  <li><a href="http://www.e-codices.unifr.ch/en" >e-codices</a></li>
  <li><a href="http://image.ox.ac.uk/" >Early Manuscripts at Oxford University</a></li>
  <li><a href="http://goodspeed.lib.uchicago.edu/" >The Goodspeed Manuscript Collection</a></li>
  <li><a href="http://laurentius.ub.lu.se/" >St. Laurentius Digital Manuscript Library</a></li>
  <li><a href="http://romandelarose.org/" >Roman de la Rose Digital Library</a></li>
  <li><a href="http://www.bnf.fr/fr/acc/x.accueil.html" >The Bibliothèque nationale de France</a></li>
</ul>