<div class="col-md-offset-1">
<%= link_to "Description URL", presenter(document).render_index_field_value(:description_url) %> |
<%= link_to "Image URL", presenter(document).render_index_field_value(:image_url) %>
<% if render_iiif_manifest(document) != nil %> |
<%= link_to "IIIF", render_iiif_manifest(document) %>
<% end %>
</div>