
$logo_image: 'logo.png' !default;

@import 'bootstrap';

@import 'blacklight/blacklight';

.document-thumbnail img {
  @extend .span2;
  max-height: 200px;
  margin-bottom: 1em;
}

.document {
  @extend .clearfix;
}