$logo_image: 'logo.png' !default;

@import 'bootstrap';

@import 'blacklight/blacklight';

.document-thumbnail img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 1em;
}

.document {
  @extend .clearfix;
}

#header-navbar .navbar-brand {
  width: 330px;
  text-indent: 140%;
}

/** Lists */
ul.ms{
  width:560px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
li.ms{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  float:left;
  display:inline;
}
#double li.ms { width:50%;}
#triple li.ms { width:33.333%; }
.quad       { width:25%; }
#six li.ms    { width:16.666%; }

.document-metadata {
  @extend .col-md-8;
   dd:after {
    clear: none;
   }
}
